/* 
font-family: 'Raleway', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif; 
*/

.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  background-color: #DCDCDC
}

.animatedIndividual{
  animation-duration: 1s;
  opacity: 1s;
}

html,body{
  height:100%;
}

nav {
  border-bottom: solid 3px #808080;
  position: fixed;
}

.nav-links{
  font-family: 'Montserrat', sans-serif;
}

.title{
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}

.card {
  width: 100%;
  height: 615px;
  background-color: #343A40;
  border-radius: 10px;
  margin: 0% 0% 0% 0%;
  padding: 10px;    
  color: #8f8f8f;
  font-weight: bold;
  border: solid 6px #808080;
}

.col-md-3{
  padding: 1% 1% 1% 2%;
}

.row{
  width: 100%;
}

.btn {
  border: solid 3px #333;
}
.card-title{
  font-family: 'Raleway', sans-serif;
  font-size: 200%;
  font-weight: bold;
}
.card-text{
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
}

.wrapper{
  bottom: 0;
  background-color: #DCDCDC
}